= simple_form_for song, html: { class: 'form-horizontal' } do |f|
  .row
    .col-lg-12
      = f.input :title
  .row
    .col-lg-12
      = f.input :number
  .row
    .col-lg-12
      = f.input :rating
  .row
    .col-lg-12
      = f.association :artist
  .row
    .col-lg-12
      = f.association :album
  .row
    .col-lg-12
      = f.submit 'Save', class: 'btn btn-default'
