.container.song-show
  .col-lg-6.well.well-lg
    .row
      Title:
      .pull-right= song.title
    .row
      Number:
      .pull-right= song.number
    .row
      Length:
      .pull-right= song.length
    .row
      Rating:
      .pull-right= "#{song.rating} / 10"
    .row
      aritst:
      .pull-right= song.artist.name
    .row
      Album:
      .pull-right= song.album.title
