.container.artist-show
  .col-lg-8.well.well-lg
    .row
      Name:
      .pull-right= artist.name
    .row
      Established:
      .pull-right= artist.established
    .row
      Country:
      .pull-right= artist.country
    .row
      Albums:
      - artist.albums.each do |al|
        .pull-right= al.title
.container.artist-desc
  .col-lg-8.well.well-lg
    = artist.description

