.container.album-show
  .col-lg-4.well.well-lg
    .row
      %b Title:
      .pull-right= album.title
    .row
      %b Release date:
      .pull-right= album.date
    .row
      %b Format:
      .pull-right= album.format
    .row
      %b Rating:
      .pull-right= "#{album.rating} / 10"
    .row
      %b Record label:
      .pull-right= album.record_label.name if album.record_label.present?
    .row
      %b Genres:
      - album.genres.each do |g|
        .pull-right= g.name
  .col-lg-4
    %table{ class: 'table table-striped table-hover' }
      %tr
        %td No.
        %td Title
      - album.songs.order('number').each_with_index do |s, index|
        - if index % 2 == 0
          %tr
            %td= s.number
            %td= s.title
  .col-lg-4
    %table{ class: 'table table-striped table-hover' }
      %tr
        %td No.
        %td Title
      - album.songs.order('number').each_with_index do |s, index|
        - if index % 2 == 1
          %tr
            %td= s.number
            %td= s.title
.container.album-desc
  .col-lg-4.well.well-lg
    %h4 Description
    = album.description

