.container
  .row
    .col-lg-10
      .panel-body
        %table{ class: 'table table-striped table-hover' }
          %tr
            %td Title
            %td Date
            %td Format
            %td Rating
            %td Genres
            %td Edit
            %td Destroy
          - albums.each do |f|
            %tr
              %td= link_to f.title, album_path(f)
              %td= f.date
              %td= f.format
              %td= f.rating
              %td
                - f.genres.each do |g|
                  = "\##{g.name}"
              %td=link_to 'Edit', edit_album_path(f), class: 'btn btn-default context-btn'
              %td=link_to 'Destroy', album_path(f), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default context-btn'
